




<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">FATİH
                <span class="text-primary">ÇELEN</span>
            </h1>
            <div class="subheading mb-5">Çankaya, ANKARA 06010 · (546) 412-7678 ·
                <a href="mailto:fatihcelen@gmail.com">fatihcelen@gmail.com</a>
            </div>
            <p class="lead mb-5">I am ...</p>
            <div class="social-icons">
                <a href="mailto:fatihcelen@gmail.com">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://linkedin.com/in/fatihcelen">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/fatihcelen">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/fatihcelen">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="http://www.teknolabs.com/">
                    <i class="fa fa-link"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column portfolio" id="portfolio">
        <div class="my-auto">
            <h2 class="mb-5">Portfolio</h2>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/cake.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/circus.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/game.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/safe.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
                    </a>
                </div>


                <!-- Portfolio Modals -->

                <!-- Portfolio Modal 1 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/cabin.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Modal 2 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/cake.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Modal 3 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/circus.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Modal 4 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/game.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Modal 5 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/safe.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Modal 6 -->
                <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
                    <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                            <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                                    <hr class="star-dark mb-5">
                                    <img class="img-fluid mb-5" src="img/portfolio/submarine.png" alt="">
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                        <i class="fa fa-close"></i>
                                        Close Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
            <h2 class="mb-5">Projects</h2>


        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="blog">
        <div class="my-auto">
            <h2 class="mb-5">Blog</h2>

            <ul>
                <li>
                    <a href="/yazi-yazmayi-becerebilmek">yazi yazmayi becerebilmek</a> (28.02.2016)
                </li>
            </ul>
        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Selcuk University</h3>
                    <div class="subheading mb-3">Bachelor of Engineering</div>
                    <div>Computer Engineering</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2011 - October 2017</span>
                </div>
            </div>

            <!--<div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Anadolu University</h3>
                    <div class="subheading mb-3">Faculty of Economics and Administrative Sciences</div>
                    <div>Computer Engineering</div>
                    <p>GPA: 3.56</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2004 - August 2014</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Selcuk University</h3>
                    <div class="subheading mb-3">Technology Magnet Program</div>
                    <p>GPA: 3.56</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2002 - May 2006</span>
                </div>
            </div>
-->
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-node-js"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-sass"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-less"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-wordpress"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-gulp"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-grunt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Browser Testing &amp; Debugging
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum
                </li>
            </ul>
        </div>
    </section> 
</div>

