{% include top.html %}

<body id="page-top">
  {% include header.html %}

  {% if page.url != '' %}
  <section class="resume-section p-3 p-lg-5 d-flex flex-column">
      -------------------
      {{ content }}
      content
      -------------------
  </section>
  {% endif %}}
  -------------------
  {{ page.url }} page.url
  -------------------
  {{ page.id }} page.id
  -------------------
  {{ site | debug }}
  -------------------
  {{ site.posts | debug }}
  -------------------
  {{ page | debug }}

  {% include index.html %}

  {% include footer.html %}
</body>
</html>
 